altgraph==0.17
asgiref==3.2.10
astroid==2.4.1
auto-py-to-exe==2.7.8
autopep8==1.5.4
backcall==0.2.0
beautifulsoup4==4.9.1
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
comtypes==1.1.7
cycler==0.10.0
decorator==4.4.2
Django==3.1
Eel==0.12.4
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.1
mccabe==0.6.1
numpy==1.19.1
pandas==1.1.0
parso==0.7.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
PyAudio @ file:///C:/Users/Gundeep/Downloads/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycodestyle==2.6.0
pycparser==2.20
pygame==1.9.6
Pygments==2.6.1
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pyinstaller-hooks-contrib==2020.7
pylint==2.5.2
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
pyzmq==19.0.2
requests==2.24.0
six==1.14.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
toml==0.10.0
tornado==6.0.4
traitlets==5.0.3
urllib3==1.25.10
wcwidth==0.2.5
whichcraft==0.6.1
wikipedia==1.4.0
wrapt==1.12.1
xlrd==1.2.0
zope.event==4.4
zope.interface==5.1.0
