sympy
aiml
Crypto
selenium
Pillow
beautifulsoup4
simple-crypt
requests
xlrd
PyQt5
numpy
tensorflow
fpdf
geocoder
Telethon
twilio
docopt
img2pdf
PyAutoGUI
opencv-python
QDarkStyle
PyGithub
pytube
Jinja2
