name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Hello!, Thanks for raising the issue, we will get back to you very soon.'
        pr-message: 'Hello!, Thanks for your contribution. Please make sure you follow our Contribution Guildelines.'
